$color-primary: #2ac3f2;
$color-primary-compliment: #fff;
$color-secondary: #6B6868;
$color-secondary-compliment: #fff;

$brand-primary: $color-primary !default;
$btn-primary-color: $color-secondary-compliment !default;
$btn-primary-bg: $color-secondary !default;
$alert-border-radius: 0 !default;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
